{% include base_path %}
<style>
    .dropdown:hover .dropdown-menu {
        display: block;
    }
</style>

<div class="masthead">
    <div class="masthead__inner-wrap">
        <div class="masthead__menu" style="padding-left:0;">
            <nav id="site-nav" class="greedy-nav">
                <button><div class="navicon"></div></button>
                <ul class="visible-links">
                    <img src="{{ base_path }}/images/xrdocs_logo.png" width="45px" height="45px" alt="xrdocs logo" style="float:left;">
                    <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title_short }}</a></li>
                    {% for item in site.data.navigation.main %}
                    <li class="dropdown">
                        {% if item.children %}

                        <a href="{{ base_path }}{{ item.url }}" class="dropdown-toggle masthead__menu-item"
                           data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">{{ item.title}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                {% for entry in item.children %}
                                <a class="masthead__menu-item" href="{{ entry.url }}"
                                   style="height: 35px; padding-top: 8px;">{{ entry.title}}</a>
                                {% endfor %}
                            </li>
                        </ul>
                        {% else %}
                        {% if item.title contains 'Search' %}
                        <a href="{{ item.url }}" class="masthead__menu-item">{{ item.title}} &nbsp;<i
                                class="fa fa-search" aria-hidden="true"></i></a>
                        {% else %}
                        <a href="{{ item.url }}" class="masthead__menu-item">{{ item.title}}</a>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                </ul>
                <ul class="hidden-links hidden masthead__menu-item"></ul>
            </nav>
        </div>
    </div>
</div>
