/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $header-font-family;
    font-weight: 700;
    text-transform: uppercase;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  @include breakpoint($large) {
    @include prefix(2.5 of 12);
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  font-size: $type-size-7;
  white-space: nowrap;

  &--lg {
    padding-right: 5em;
    font-weight: 400;
    font-size: $type-size-5;
  }
}
