/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 12;

/* paragraph indention */
$paragraph-indent           : false !default; // true, false (default)
$indent-var                 : 1.3em !default;

/* system typefaces */
$serif                      : Georgia, Times, serif !default;
$sans-serif                 : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace                  : Monaco, Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif !default;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : CiscoSans, Arial, Helvetica, "Helvetica Neue", "HelveticaNeue", "Lucida Grande",sans-serif;
$header-font-family         : CiscoSans, Arial, Helvetica, "Helvetica Neue", "HelveticaNeue", "Lucida Grande",sans-serif;
$caption-font-family        : CiscoSans, Arial, Helvetica, "Helvetica Neue", "HelveticaNeue", "Lucida Grande",sans-serif;

/* type scale */
$type-size-1                : 1.563em !default;  // ~31.248px
$type-size-2                : 1.35em  !default;  // ~25.008px
$type-size-2_5              : 1.30em  !default;  // ~25.008px
$type-size-3                : 1.25em !default;   // ~20px
$type-size-3_5              : 1.10em !default;
$type-size-3_75             : 1em !default;
$type-size-3_85             : 0.95em !default;
$type-size-4                : 0.8em !default;      // ~16px
$type-size-5                : 0.75em !default;   // ~12px
$type-size-6                : 0.70em !default; // ~11px
$type-size-7                : 0.65em !default;  // ~10px
$type-size-8                : 0.6em !default;  // ~10px
$type-size-9                : 0.5em !default;  //~8px
/*
   Colors
   ========================================================================== */
$gray                       : #7a8288 !default;
$dark-gray                  : #58585b !default;
$darker-gray                : mix(#000, $gray, 60%) !default;
$light-gray                 : mix(#fff, $gray, 50%) !default;
$lighter-gray               : mix(#fff, $gray, 90%) !default;

$body-color                 : $dark-gray !default;
$background-color           : #fff !default;
$code-background-color      : #fafafa !default;
$code-background-color-dark : $light-gray !default;
$text-color                 : $dark-gray !default;
$border-color               : $lighter-gray !default;

$primary-color              : #58585b !default;
$success-color              : #62c462 !default;
$warning-color              : #f89406 !default;
$danger-color               : #ee5f5b !default;

$info-color                 : #007FAB !default;
$info-color-hover           : #049FD9 !default;

$button-blue                : #049FD9 !default;
$button-blue-hover          : #007FAB !default;

/* brands */
$behance-color              : #1769FF !default;
$dribbble-color             : #ea4c89 !default;
$facebook-color             : #3b5998 !default;
$flickr-color               : #ff0084 !default;
$foursquare-color           : #0072b1 !default;
$github-color               : #171516 !default;
$google-plus-color          : #dd4b39 !default;
$instagram-color            : #517fa4 !default;
$lastfm-color               : #d51007 !default;
$linkedin-color             : #007bb6 !default;
$pinterest-color            : #cb2027 !default;
$rss-color                  : #fa9b39 !default;
$soundcloud-color           : #ff3300 !default;
$stackoverflow-color        : #fe7a15 !default;
$tumblr-color               : #32506d !default;
$twitter-color              : #55acee !default;
$vimeo-color                : #1ab7ea !default;
$vine-color                 : #00bf8f !default;
$youtube-color              : #bb0000 !default;
$xing-color                 : #006567 !default;

/* links */
$link-color                 : $info-color !default;
$link-color-hover           : $info-color-hover !default;
$link-color-visited         : $info-color !default;
$masthead-link-color        : $primary-color !default;
$masthead-link-color-hover  : mix(#000, $primary-color, 25%) !default;

/*
   Breakpoints
   ========================================================================== */

$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 1024px !default;
$x-large                    : 1280px !default;


/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 11em !default;
$right-sidebar-width        : 14em !default;
$right-sidebar-width-wide   : 0 !default;


/*
   Other
   ========================================================================== */

$border-radius              : 5px !default;
$btn-border-radius          : 60px !default;
$box-shadow                 : 0 0px 0.2px rgba(0, 0, 0, 0.125) !default;
$navicon-width              : 20px !default;
$navicon-height             : 5px !default;
$global-transition          : all 0.2s ease-in-out !default;
